.section {
    background: rgba(0,0,0,0.0);
    border: none;
    font-weight: bold;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
}

.list-collapsed {
    transform: rotate(270deg);
    transform-origin: 100% 0%;
    position: relative;
    top: 0px;
    left: -270px;
    display: none;
    height: 40px;
    width: 270px;
}

.list-collapsed > span {
    font-weight: 700;
    padding: 0px;
    vertical-align: middle;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 14px;
    position: relative;
    top: 10px;
    height: 100%;
    padding-left: 10px;
}
