.section {
    background: rgba(0,0,0,0.0);
    border: none;
    font-weight: bold;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
}

.super-list {
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(223, 227, 230);
    /* background-color: rgba(255, 255, 255, 0.75); */
    width: 536px;
    height: 0px;
    border-radius: 3px;
    /* styles from trello list-header */
    min-height: 20px; 
    padding: 10px 8px 30px;
    text-align: center;
}

.sub-list {
    top: 40px;
}

.blocked-card {
    background: rgb(233, 77, 56) !important;
    color: #ffffff;
}

.blocked-title {
    color: white !important;
    font-weight: bold;
}

.blocked-badges {
    color: White !important;
}

.comment-card {
    background: rgba(0,0,0,0.0) !important;
    border: none !important;
    box-shadow: 0 0 !important;
    font-style: italic;
    padding: 0px;
    margin: 0px;
}

.super-list-collapsed,
.list-collapsed {
    transform: rotate(270deg);
    transform-origin: 100% 0%;
    position: relative;
    top: 0px;
    left: -270px;
    display: none;
    height: 40px;
    width: 270px;
}

.super-list-collapsed > span,
.list-collapsed > span {
    font-weight: 700;
    padding: 0px;
    vertical-align: middle;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 14px;
    position: relative;
    top: 10px;
    height: 100%;
    padding-left: 10px;
}

.icon-expanded {
    background-image:url('chrome-extension://__MSG_@@extension_id__/img/icons8-sort-down-16.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 7px;
}

.icon-collapsed {
    background-image:url('chrome-extension://__MSG_@@extension_id__/img/icons8-sort-right-16.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 7px;
}

.wip-limit-reached {
    border-top: solid 10px #fb7928;
}

.collapsed-limit-reached {
    border-right: solid 10px #fb7928;
}

.wip-limit-exceeded {
    border-top: solid 10px #b04632;
}

.wip-limit-title {
    font-weight: bold;
    width: 100%;
    display: block;
    line-height: 1.2em;
}

.wip-limit-badge {
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: rgb(151, 151, 151);
    color: white;
    font-size: 9pt;
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.collapsed-limit-exceeded {
    border-right: solid 10px #b04632;
}

.section-card {
    background: rgba(0,0,0,0.0) !important;
    border: none !important;
    box-shadow: 0 0 !important;
    font-weight: bold;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    /* position: relative;
    top: 5px; */
}

span#section-title {
    margin-left: 5px;
    position: relative;
    top: 5px;
}