---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #082132;
    background-image: linear-gradient(120deg, #082132, #2d5f8c);
}

.trello-lists {
    display: block;
    clear: both;
}

h1,h2,h3 {
    color: #2d5f8c;
}